* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    color: black;
}

body {
    background-color: aliceblue;
    display: flex;
    width: 100vw;
}

.container {
    width: 100vw;
}

textarea {
    padding: 30px;
    border: none;
    color: black;
    outline: none;
    overflow-y: hidden;
    font-size: 22px;
    width: 40vw;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: blanchedalmond;
    border-radius: 10vw;
}

.title {
    color: rgb(139, 139, 139);
    text-align: center;
    width: 100vw;
    padding-top: 30px;
    padding-bottom: 30px;
}

.prompt-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    margin-top: 20px;
}

.buttons button {
    border: none;
    color: rgb(139, 139, 139);
    margin-left: 20px;
    padding: 30px;
    border-radius: 60px;
    margin-right: 20px;
    background-color: blanchedalmond;
}

.container-two {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.formAdd {
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin-left: 30px;
    margin-right: 30px;
    background-color: aqua;
}

form * {
    font-size: 23px;
    border: none;
    outline: none;
}

.container-progress {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.prompt {
    text-align: center;
    font-size: 22px;
    padding: 14px;
    width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: aqua;
}

path {
    background-color: yellow;
}

button:first-child {
    display: flex;
    border: none;
    justify-content: center;
    background-color: aquamarine;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    padding: 20px;
}

.container-progress {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.bookmark {
    border: none;
    background-color: aqua;
}

.input {
    border: 1px black solid;
    height: 100%;
    width: 92%;
    background-color: aqua;
}

li {
    display: flex;
    justify-content: space-between;
}